* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --four-80-font-size:     8px;
    --seven-68-font-size:    9px;
    --nine-18-font-size:     10px;
    --nine-91-font-size:     11px;
    --one-2-font-size:       12px;
  }

body{
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-left: auto;
    padding: 2em;
}

nav a {
    margin-left: 12px;
}

.nav-item {
    margin-left: 12px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav img{
    height: 20px;
}

.blue-button{
    background-color:  blue;
    border: none;
    color: white;
    padding: .8em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    margin-top: -10px;
}

main{
    width: 80%;
    margin: 0em auto 7em auto;
    text-align: center;
    justify-content: center;
}

.google-img{
    height: 150px;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}

input{
    width: 300%;
    padding: 1em;
    border-radius: 30px;
    border: .5px solid rgb(240, 235, 235); 
}

.SB{
    width: 60%;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.btn_container{
    margin-top: 1em;
}

.btn_container button{
    padding: .5em 1em;
    border: none;
    border-radius: .2rem;
    margin-right: .5em;
    background-color: rgb(250, 244, 244);
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(250, 244, 244); 
    color: white;
}

.lang{
    color: rgb(19, 19, 235);
}

a{
    text-decoration: none;
}

footer{
    overflow: auto;
    position: fixed;
    width: 100%;
    background-color:rgb(241, 237, 237);
    color: black;
    margin-top: 13px;
    bottom: 0;
    font-size: 14px;
}

.footer-top{
    padding: .1em 2em;
}

.footer-bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: black;
}

.left{
    padding-right: 0em;
    margin-left: 1em;
}

.left a{
    margin-right: 1em;
}

.right{
    margin-right: 1em;
    color: grey;
}

.right a{
    margin-right: 1em;
}

.center{
    color: grey;
    margin-right: 1em;
    margin-left: 0;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    width: 30%;
    border-left: 0%;
}

.center a{
    color: black;
    text-align: center;
    padding-left: 0;
}

hr{
    height: .1px;
    border: none solid;
    color: rgba(141, 138, 138, 0.658);
}

p a{
    margin-right: .5em;
}

p .Hausa{
    margin-left: .5em;
}

/*---------------------------------------
   RESPONSIVE STYLES              
-----------------------------------------*/

@media screen and (max-width: 1200px) {
    body{
        font-size: var(--one-2-font-size);;
    }

    footer{
        font-size: var(--one-2-font-size);
    }

    .google-img{
        height: 140px;
    }
}
  
@media screen and (max-width: 991px) {
    body{
        font-size: var(--nine-91-font-size);
    }

    footer{
        font-size: var(--nine-91-font-size);
    }

    .google-img{
        height: 130px;
    }
}
  
@media screen and (max-width: 918px) {
    body{
        font-size: var(--nine-18-font-size);;
    }

    footer{
        font-size: var(--nine-18-font-size);
    }

    .google-img{
        height: 120px;
    }
}
  
@media screen and (max-width: 768px) {
    body{
        font-size: var(--seven-68-font-size);;
    }

    footer{
        font-size: var(--seven-68-font-size);;
    }

    .google-img{
        height: 110px;
    }
}
  
@media screen and (max-width: 480px) {

    body{
        font-size: var(--four-80-font-size);
    }

    footer{
        font-size: var(--four-80-font-size);
    }

    .google-img{
        height: 100px;
    }
  
}